/* لجعل العنصر الجانبي ثابت */
.sticky-sidebar {
    position: sticky;
    top: 10px; /* المسافة من أعلى الصفحة */
    z-index: 10; /* لضمان ظهور العنصر بشكل صحيح فوق باقي العناصر */
}

/* إضافة تباعد بين الأعمدة */
.row > .col-3 {
    padding-right: 15px;
}

.row > .col-9 {
    padding-left: 15px;
    overflow-y: auto; /* يسمح بالتمرير في المحتوى الرئيسي */
    max-height: 100vh; /* تحديد ارتفاع للتمرير */
}
