/* =============== */
/*   Card Products  */
/* =============== */
.offer_side_slider {
    min-height: 21rem;
    background-image: url("../../../Asstes/Images/Home/2.jpg");
    box-shadow: inset 6px -2px 11px #eeeeee00;
    background: var(--component);
    border-radius: 7px;
    font-family: Segoe UI;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 1rem;
    overflow: hidden;
}

/* image */

/* card details */
.offer_side_slider .offer_details {
    color: var(--light-dark);
    font-family: Segoe UI;
}

.offer_side_slider .offer_details a {
    margin: auto;
    font-weight: 300;
}

.offer_side_slider .offer_details h4 {
    color: #ffffff;
    font-weight: 900;
    padding-bottom: 20px;
}